@import '../variables.scss';

.footer {
	padding: 2.4em 0;
	background-color: $color-blueish;
	color: white;
	text-align: center;

	@media (min-width: $desktop-width-transform) {
		position: relative;
		max-width: $desktop-wrapper-width;
		margin: auto;
		padding: 4.8em 0;
		transform: translateX(-1.4em);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -50%;
			width: 200%;
			height: 100%;
			background-color: $color-blueish;
			z-index: -1;
		}
	}

	.footer-menu {
		@media (min-width: $desktop-width-transform) {
			display: flex;
		}

		.footer-menu-section {
			@media (min-width: $desktop-width-transform) {
				width: 25%;
				margin-left: 4em;
				text-align: left;

				&:first-of-type {
					margin-left: .7em;
					margin-right: .6em;
				}
			}	

			.footer-menu-section-title {
				padding: .6em 0;

				@media (min-width: $desktop-width-transform) {
					margin-left: .1em;
					font-size: 1.6em;
				}
				
				&[data-menu-open='true'] + .footer-menu-section-links {
					opacity: 1;
					display: block;
				}
			}

			.footer-menu-section-links {
				display: none;
				opacity: 0;
				margin: 1.4em 0;

				@media (min-width: $desktop-width-transform) {
					display: block;
					opacity: 1;
					margin: .6em 0;
				}

				> p {
					padding: .45em 0;

					> i {
						display: none;
						color: $color-yellowish;

						@media (min-width: $desktop-width-transform) {
							display: inline-block;
							width: 2.1em;
							font-size: 1.3em;
						}
					}

					> a {
						font-size: 1.3em;
						color: white;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.footer-menu-section-info {
				margin: 0 .7em;

				@media (min-width: $desktop-width-transform) {
					margin: .2em 0;
				}

				a {
					text-decoration: none;

					> i {
						margin: .1em;
						font-size: 4.8em;
						color: $color-yellowish;

						@media (min-width: $desktop-width-transform) {
							margin-left: .06em;
							margin-right: .23em;
							font-size: 4em;
						}

						&::before {
							margin: 0;
						}
					}
				}

				.footer-menu-section-info-contact {
					margin-top: 1.3em;

					@media (min-width: $desktop-width-transform) {
						margin-top: 2em;
						margin-left: .15em; 
					}

					> h2 {
						font-size: 2em;
						
						> a {
							color: white;
							text-decoration: none;
						}
					}

					> p {
						font-size: 1.3em;
					}
				}
			}
		}
	}

	.footer-services {
		display: flex;
		flex-direction: column;

		.footer-services-banks {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 2.6em;

			@media (min-width: $desktop-width-transform) {
				order: 2;
				justify-content: flex-start;
				margin-top: 2.4em;
			}

			> a {
				margin: 1.5em .4em;

				@media (min-width: $desktop-width-transform) {
					margin-right: 1.2em;
				}
			}
		}

		.footer-services-banner {
			@media (min-width: $desktop-width-transform) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 4.3em;
				margin-left: .5em;
			}

			.footer-services-banner-address {
				display: none;
				font-size: 1.4em;

				@media (min-width: $desktop-width-transform) {
					display: inline-block;
				}
			}

			.footer-services-banner-line {
				display: none;
				width: 63%;
				height: 1px;
				background-color: $color-grayish;

				@media (min-width: $desktop-width-transform) {
					display: block;
				}
			}

			> img {
				margin-top: .5em;

				@media (min-width: $desktop-width-transform) {
					transform: translate(.9em, -.5em);
				}
			}
		}
	}
}