@import '../variables.scss';

.header {
	background-color: white;
	padding: $mobile-page-margins;
	padding-bottom: 0;

	@media (min-width: $desktop-width-transform) {
		position: relative;
		padding: 0;
		padding-top: $desktop-page-margins;
		padding-bottom: 0;
		max-width: $desktop-wrapper-width;
		margin: auto;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -50%;
			width: 200%;
			height: 100%;
			background-color: white;
			z-index: -1;
		}
	}
	
	.header-content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 1.1em;
	
		@media (min-width: $desktop-width-transform) {
			padding-bottom: 2.5em;
		}
	
		.header-content-logo {
			height: 4rem;
	
			@media (min-width: $desktop-width-transform) {
				height: 5.4em;
			}
		}
	
		.header-content-search {
			display: none;
			position: relative;

			@media (min-width: $desktop-width-transform) {
				display: block;
			}
	
			.header-content-search-searchInput {
				margin-left: 4.8em;
				padding: .9em 1.8em 1.4em 1.3em;
				width: 25em;
				border: 2px solid $color-whiteish;
				border-radius: 90px;
				background-color: $color-whiteish;
				outline: none;
				
				transition-duration: .15s;
				&:focus,
				&:active {
					border: 2px solid $color-orangeish;
				}
			}
	
			> i {
				position: absolute;
				top: 20%;
				right: 3%;
				font-size: 1.8em;
			}
		}	
	
		.header-content-nav {
			display: flex;
			align-items: center;
	
			> i {
				font-size: 1.9em;
				margin: 0 .35em;

				@media (min-width: $desktop-width-transform) {
					display: none;
				}
			}

			.header-content-nav-hamburger {
				width: 44px;
				height: 44px;
				margin-left: 1.1em;
				background-color: $color-blueish;
				border-radius: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media (min-width: $desktop-width-transform) {
					display: none;
				}

				.header-content-nav-hamburger-hamburgerLine {
					width: 50%;
					height: .2em;
					margin: .2em 0;
					background-color: white;
				}
			}
	
			.header-content-nav-buttons {
				display: none;

				@media (min-width: $desktop-width-transform) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
	
				.header-content-nav-buttons-navBtn {
					margin: 0 1.6em;
					text-decoration: none;
					color: black;
					font-size: 1.1em;
					font-weight: bold;
					// transition-duration: .15s;

					&:hover {
						border-bottom: 2px solid $color-orangeish;
					}
				}
	
				.header-content-nav-buttons-cartBtn {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-left: .6em;
					height: 4em;
					width: 11.5em;
					padding: 0 1em;
					border: none;
					border-radius: 90px;
					text-decoration: none;
					color: white;
					font-size: 1.35em;
					font-weight: bold;
					background-color: $color-blueish;
					transition-duration: .2s;

					&:hover {
						color: $color-orangeish;
						> .value { border-bottom: 1px solid $color-orangeish; }	
					}

					> i {
						margin-left: .15em;
						font-size: 1.4em;
					}
	
					.header-content-nav-buttons-cartBtn-value {
						margin: 0 2em;
					}
	
					.header-content-nav-buttons-cartBtn-icon {
						font-size: .8em;
					}
				}
			}
		}
	}

	.header-menu {
		display: none;
		
		@media (min-width: $desktop-width-transform) {
			display: flex;
			justify-content: space-between;
			width: 95.5%;
			margin-top: .5em;
			padding-bottom: 1.4em;	
		}
		
		> span {
			font-size: 1.4em;
			font-weight: bold;
			cursor: pointer;
			border-bottom: 2px solid white;
			transition-duration: .25s;

			&:last-of-type {
				color: $color-orangeish;
			}

			&:hover {
				border-bottom: 2px solid $color-orangeish;
			}
		}
	}
}
