@import '../variables.scss';

.gallery {
	position: relative;
	background-color: white;
	max-height: 300px;
	padding: 0 $mobile-page-margins;
	overflow: hidden;

	@media (min-width: $desktop-width-transform) {
		grid-area: gallery;
		margin-right: .8em;
		max-height: 477px;
		padding: 0;
		padding-left: .2em;
		display: flex;
	}

	.gallery-photo {
		width: 115%;
		vertical-align: bottom;
		object-fit: cover;
		transform: translate(-10%, -8%);

		@media (min-width: $desktop-width-transform) {
			width: 78%;
			transform: translate(0, 6%);
		}
	}

	.gallery-thumbs {
		display: none;

		@media (min-width: $desktop-width-transform) {
			width: 16.5%;
			padding: 1.2em .1em;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			cursor: pointer;
		}

		> img {
			border-top: 2px solid white;
			border-bottom: 2px solid white;

			&:hover {
				border-color: $color-orangeish;
			}
		}	

		.gallery-thumbs-more {
			width: 70%;
			padding: 1.2em 0;
			text-align: center;
			border: 1px solid $color-grayish;
			color: black;

			:first-child {
				font-size: 1.9em;
			}

			:last-child {
				font-size: 1.3em;
			}
		}
	}

	.gallery-bestseller {
		display: none;

		@media (min-width: $desktop-width-transform) {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 4.6%;
			right: 3.6%;
			width: 70px;
			height: 70px;
			border-radius: 90px;
			background-color: $color-orangeish;
			color: white;
			font-family: 'Amatic SC';
			font-size: 2rem;
			font-weight: bold;

			animation: bestseller-blink 1.5s ease-in infinite alternate;
			@keyframes bestseller-blink {
				to { transform: scale(1.2); }
			}
		}
	}
}