/* Color palette */
/* Global margins */
/* Desktop transformation */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625rem;
}
html body {
  box-sizing: border-box;
  background-color: #F6F6F6;
  font-family: "Noto Sans";
  overflow-x: hidden;
  min-height: 1200px;
}
html body i {
  font-family: "fontello";
  font-size: 1em;
  font-style: normal;
  text-decoration: none;
}
html body input::-webkit-outer-spin-button,
html body input::-webkit-inner-spin-button,
html body input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}