
:root {	
	/* Color palette */
	--color-whiteish: #F6F6F6;
	--color-blueish: #346D99;
	--color-orangeish: #FCB243;
	--color-blackish: #090909;
	--color-grayish: #EDEDED;
	--color-yellowish: #F6C64B;

	/* Global margins */
	--mobile-page-margins: 1.3rem;
	--desktop-page-margins: 2.9rem;

	/* Desktop transformation */
	--desktop-width-transform: 1200px;
	--desktop-wrapper-width: 1170px;
}
